<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>runTime.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>89B57A981D047E3E000B1666</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89B57AB11D047E3E000B1666</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89B57ABC1D047E3E000B1666</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
